
.mario {
  width: 68px;
  height: 68px;
  display: block;
  position: relative;
  background: url('../images/mario-walk-n-jump-68.png');
/*  background-position: -68px top;*/;
  animation: walk .9s steps(1)  infinite;
}
.path{
  width: 68px;
  height: 68px;
  display: block;
  position: absolute;
  top: 200px;
  animation: path 3s linear infinite;
}
@keyframes walk {
  0%{ background-position:   0px top;}
  25%{ background-position:  -68px top;}
  75%{ background-position:  -136px top;}
  100%{ background-position:  -204px top;}
}
@keyframes path {
  0%{left: -68px; top;}
  25%{left: 30%; top: 200px;}
  50%{left: 50%; top: 150px;}
  55%{left: 56%; top: 200px;}
  100%{left: 100%}
}
.blast {
width: 151px;
height: 151px;
display: block;
position: absolute;
background: url('../images/blast-151.png');
left: 50%;
animation: blast 1s steps(1)  infinite;
animation-play-state: paused;
}
.blast:hover{
animation-play-state: running;
}

@keyframes blast {
  0%{ background-position:   0px 0px;}
  3%{ background-position:  -151px 0px;}
  6%{ background-position:  -302px 0px;}
  9%{ background-position:  -453px 0px;}
  12%{ background-position:  -604px 0px;}
  15%{ background-position:  -755px 0px;}
  18%{ background-position:  -906px 0px;}
  21%{ background-position:  -1057px 0px;}
  24%{ background-position:   0px -151px;}

  27%{ background-position:  -151px -151px;}
  28%{ background-position:  -302px -151px;}
  30%{ background-position:  -453px -151px;}
  33%{ background-position:  -604px -151px;}
  37%{ background-position:  -755px -151px;}
  40%{ background-position:  -906px -151px;}
  43%{ background-position:  -1057px -151px;}
  47%{ background-position:  -0px -302px;}

  27%{ background-position:  -151px -302px;}
  27%{ background-position:  -302px -302px;}
  30%{ background-position:  -453px -302px;}
  33%{ background-position:  -604px -151px;}
  37%{ background-position:  -755px -151px;}
  40%{ background-position:  -906px -151px;}
  43%{ background-position:  -1057px -151px;}
  47%{ background-position:  -0px -302px;}
  27%{ background-position:  -151px -151px;}
  27%{ background-position:  -302px -151px;}
  30%{ background-position:  -453px -151px;}
  33%{ background-position:  -604px -151px;}
  37%{ background-position:  -755px -151px;}
  40%{ background-position:  -906px -151px;}
  43%{ background-position:  -1057px -151px;}
  47%{ background-position:  -0px -302px;}
}
.text{
  overflow: hidden;
  white-space: nowrap;
  animation: text 15s linear infinite;
}
.text:hover {
  animation-play-state: paused;
}
@keyframes text {
  from { text-indent: 100%}
  to { text-indent: -100%}
}
